<div class="main_chat_header">
  <div class="left-header">
    <div class="header-room-name">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="chat-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_chat_chats">
  <div class="chat">
    <div class="chat-info">
      <div class="chat-user-name">Kaho</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-text">おはよう</div>
  </div>
  <div class="chat">
    <div class="chat-info">
      <div class="chat-user-name">Kaho</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-text">こんにちは</div>
  </div>
</div>

<%= form_with model: [@room, @message], html: {class: "main_chat_form"}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-text', placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <% f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: "submit-button" %>
<% end %>

