<div class="main_chat_header">
  <div class="left-header">
    <div class="header-room-name">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="chat-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_chat_chats">
  <div class="chat">
    <div class="chat-info">
      <div class="chat-user-name">Kaho</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-text">おはよう</div>
  </div>
  <div class="chat">
    <div class="chat-info">
      <div class="chat-user-name">Kaho</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-text">こんにちは</div>
  </div>
</div>

<div class="main_chat_form">
  <div class="form-input">
    <input class="form-text" type="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-button" type="submit" value="送信">

</div>

