.wrapper{
  display: flex;
  height: 100vh;
}

.side_bar{
 width: 300px;
}

.side_bar_header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side_bar_rooms{
  height: calc( 100vh - 100px );
  background-color: #2F3E51;
  padding: 0 20px;
}

.main_chat{
  width: calc( 100vw - 300px );
}

.main_chat_header{
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.main_chat_chats{
  height: calc( 100vh - 190px);
  background-color: #FAFAFA;
  padding-top: 46px 40px 0;
}

.main_chat_form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}